<%- include("../../partials/header.ejs") %>

    <body>
        <%- include("../../partials/navbar.ejs") %>
            <div class="container">
                <hr>
                
                <div class="card">
                    <div class="card-header">
                        <h2>Editando Usuarios</h2>
                    </div>
                    <div class="card-body">
                        <form action="/users/update" method="post">
                            <input class="form-control" type="text" name="email" placeholder="Email"
                                value="<%= user.email %>"><br>
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>
    <%- include("../../partials/footer.ejs") %>